{% extends "base.html" %}


{% block content %}
<style>
.hiden {
    display: none;
}

</style>

{% if massage %}
<p>{{ massage }}</p>
{% endif %}

<div style="margin-top: 30px;">
    <hr>
    <p>here some shit</p>
    <hr>
    {% include 'recipes/partials/forms.html' %}
    <!-- This line tells Django's templating engine to include the contents of the file located at recipes/partials/form.html into the current template.
    Essentially, it works like a copy-paste of that file's HTML at that point in your template. -->
</div>

<script>
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    const formcopytarget = document.getElementById('block')
    const addMoreBtn = document.getElementById('add-more')
    addMoreBtn.addEventListener('click', add_new_form)
    /*
        here we collect all the element in the form and as "currentingredientforms"
        also the hidden form as well which is clone into emptyforlEL since the all share the same class

    */
    
    function add_new_form(event){
        console.log(event)
        if (event) {
            event.preventDefault()   
        }
        
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        const currentformcount = currentIngredientForms.length 
        
            // the above line of code is count all the elemet with the the class of ingredient-form
            // -----> here the currentingredientform will return all all element with the class of 
            // ingredient-form and by the we will get the number as in currentingredientforms.length
            
            // all this is done so as tbo madifie the formset.managment_form value so as to make the dynamic 
            // form adding to be able to submit to the data base

        
        

        // now add a new form  as soon as the button is click
        const copyemptyFormEL = document.getElementById('empty-form').cloneNode(true)
        copyemptyFormEL.setAttribute('class', 'ingredient-form')
        copyemptyFormEL.setAttribute('id', 'form-${currentformcount}')

        // what happen here is that we change we clone the elemet with the ID name of 'empty-form'
        // after clone it we set up the attribute 

        const regex = new RegExp('__prefix__', 'g')
        copyemptyFormEL.innerHTML = copyemptyFormEL.innerHTML.replace(regex, currentformcount)
        // next is to add this new form somewhere
        formcopytarget.append(copyemptyFormEL) 
        totalNewForms.setAttribute( 'value',currentformcount +1)                                                            
        // console.log(formcopytarget)
        /* 
            not by appending like this with out modification 
            will make every newly added form to be the duplicate 
            of the previous for just try it and see for your self
        */ 
    }

</script>


{% endblock content %}  