{% extends "base.html" %}


{% block content %}

{% if massage %}
<p>{{ massage }}</p>
{% endif %}

<div style="margin-top: 30px;">
    <hr>
    <p>here some shit</p>
    <hr>
    <form action='.' method="POST">

        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% if formset %}
            <h1>ingredients</h1>
            {% csrf_token %}
            {{ formset.as_p }}
        {% endif %}

        <button type="submit">Create</button>
    </form> 
    
</div>


{% endblock content %}  